.form-group,.load-group,.task-container{
    display: flex;
    margin: 20px;
    justify-content:center;
    position: relative;
}

input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

.task,.add-task-btn,.date-task,.save-btn,.clear-btn{
    display:flex;
    justify-content:center;
    height: 30px;
}
.alert-danger-date{
    position: absolute;
    top:30px;
    left:308px;
    padding: 3px 10px; 
}
.alert-danger-task{
    position: absolute;
    top:30px;
    left:0px;
    padding: 3px 10px;
}

.task{
    flex:4 1 auto;
    border: 1px solid #e8e8e8;
    border: 1px solid #e8e8e8;
}

.date-task{
    flex:4 1 auto;
    background-color: #b7fded4f;
    border: 1px solid #b7fded4f;
}

.add-task-btn{
    flex:2 1 auto;
    background-color: #8fff8f69;
    border: 1px solid #8fff8f69;
    cursor: pointer;
}