<div class="task-box" [class.complite]="item.done">
    <div class="item-checkbox ">
        <input type="checkbox" (click)="checkTask(item)" [(ngModel)]="item.done" />
    </div>
    <div class="item-task ">
        <p>{{item.task}}</p>
    </div>
    <div class="item-date">
        <p>{{item.date}}</p>
     </div>
    <div class="delete-task ">
        <button type="button" class="delete-task-btn" (click)="removeTask(item)" aria-label="Close">
            &times;
        </button>
    </div>
</div>